The main way to retrieve data from a Dictum project is the Python API. You can explore
your metrics in Jupyter or retrieve the data as a Pandas Dataframe for further analysis.

In this and other example notebooks, we'll be using a
[sample Chinook database](https://github.com/lerocha/chinook-database) and a
corresponding Dictum example project.

In [1]:
from dictum import Project

project = Project.example("chinook")

## Exploring the project

You can interface with the project by using the resulting `project` object. Let's see
which metrics and dimensions are in the project first.

In [2]:
revenue = project.model.metrics["revenue"]
revenue

Metric(revenue)

In [3]:
revenue.str_expr

'$revenue'

In [4]:
revenue.name

'Revenue'

In [5]:
revenue.format

FormatConfig(kind='currency', pattern=None, skeleton=None, currency='USD')

In [21]:
import altair as alt

project.chart().mark_area().encode(
    x=alt.X(project.dimensions.Quarter, timeUnit="yearquarter"),
    y=project.m.revenue,
    color=project.d.customer_country,
)

alt.Chart(...)

In [3]:
from dictum import Project
project = Project.example("chinook")
project.select("revenue.percent").by("genre").where("music")

In [6]:
import altair as alt

(
    project.chart()
    .mark_bar()
    .encode(
        x=alt.X(project.m.revenue),
        y=alt.Y(project.d.genre),
    )
)

alt.Chart(...)

In [3]:
project.dimensions

In [4]:
project.metrics

Now we can start querying Dictum. Metrics and Dimensions are stored as attributes to
`project.metrics` and `project.dimensions`. To make it easier to use them interactively,
it's good to give them shorter names.

In [5]:
m, d = project.metrics, project.dimensions

## Selecting a metric

Now we can start exploring the data. Let's see the total value for `Revenue`.

In [6]:
project.select(m.revenue)

Metrics and dimensions can be specified as objects, like above, or by passing their
identifier as a string.

In [7]:
project.select("revenue")  # this is the same as the above

Notice that the values are formatted according to the format specification of the
`revenue` metric.

In [8]:
m.revenue.calculation.format

FormatConfig(kind='currency', pattern=None, skeleton=None, currency='USD')

## Grouping by dimension

We can group the metric by any dimension that's applicable for it.

In [9]:
project.select(m.revenue).by(d.genre)

## Time dimensions

What about dates? Date is just like any other dimension. Let's group revenue by the
generic `Year`.

In [10]:
project.select(m.revenue).by(d.Year)

## Filtering

In addition to grouping, we can filter the data by any dimension.

In [11]:
(
    project.select(m.revenue)
    .by(d.invoice_date.datetrunc("year"))
    .where(d.genre == "Rock")
)

In [12]:
project.dimensions
# customer_orders_amount

## Dimension transforms

A dimension doesn't always contain the exact level of granularity that you want. Let's
take dates: sometimes you might want to group a metric by month, sometimes by day or
quarter. To avoid creating a separate dimension for every level of granularity, Dictum
provides dimension transforms. Transforms are special built-in functions that you can
apply to a dimension to slightly modify how it works. The most common usage of transforms
is specifying date granularity.

You can find a list of all available transforms in the
[query language reference](../../../reference/query_language/).

In [16]:
(
    project.select(m.revenue)
    .by(d.invoice_date.datetrunc("quarter"))
)

## Generic dates

There are special time dimensions that we call _generic dates_. For example, the default
time dimension for `revenue` is `invoice_date`. If we query _revenue by quarter_, Dictum
understands that you really mean _revenue by quarter of invoice date_.

In [23]:
(
    project.select(m.revenue)
    .by(d.Quarter)
    .where(d.genre == "Rock", d.Time >= "2012-01-01")
)

## Selecting multiple metrics

You can select multiple metrics in the same query, even if they are computed from
different tables in the database. The only limitation is that all dimensions in the query
must be compatible with all the metrics that you selected.

In [29]:
m.track_count

In [30]:
m.revenue

In [26]:
(
    project.select(
        m.revenue,
        m.track_count,
    )
    .by(d.genre)
)

## Metric transforms

Metrics can be transformed too. Unlike with dimensions, these are so-called
_table transforms_. They are only valid in the context of a query with some exact
dimensions.

In [34]:
(
    project.select(
        m.revenue,
        m.revenue.percent.name("Revenue (%)"),  # when there are no arguments to a transform, parentheses are optional
        m.revenue.total.name("Revenue (Total)")
    )
    .by(d.genre)
)

In [36]:
(
    project.select(
        m.revenue,
        m.revenue.percent(within=[d.genre]).name("Revenue (%, genre)"),
        m.revenue.percent.name("Revenue (%, total)")
    )
    .by(d.genre, d.artist)
    .where(d.genre.isin("Rock", "Alternative & Punk"))
)

In [36]:
project.ql("""
select revenue,
    revenue.total of (artist),
    revenue.total of (artist) within (genre)
where artist = 'Iron Maiden'
by genre, artist
""")